@model DataAccessLibrary.Models.Profile

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
       
        <div class="main-data">
            <div class="top-part">
                @*Аватарка пользователя*@
                <div class="avatar-container">
                    <img src="/content/images/account/avatar-placeholder.png" id="photo" class="avatar">
                </div>
                <div class="person-data">
                    @*Плашка с данными*@
                    <div class="info-box">
                        @*ФИО*@
                        <p id="name">@Model.ProfileSurname @Model.ProfileName @Model.ProfilePatronymic</p>
                        <hr />
                        @*Табльный номер*@
                        <div class="text-container">
                            <span class="text-1">Табельный номер:</span>
                            <span class="text-2" id="tabnum">@Model.ProfileTabNum</span>
                        </div>
                        <hr />
                        @*Место работы*@
                        <div class="text-container">
                            <span class="text-1">Место работы:</span>
                            <span class="text-2" id="tabnum">ПАО СБЕРБАНК/ДВ/Компетенции по защите данных</span>
                        </div>
                    </div>
                    <div class="emailsdrop">
                        <button onclick="myFunction()" class="add-item">
                            <div class="button-text">Emails</div>
                        </button>
                        <div id="emailsDrop" class="emailsdrop-content">
                            @foreach (var mail in Model.Mail)
                            {
                                <div class="item"><div style="font-weight: bold">@mail.TypeMail.TypeMailName почта:</div>   @mail.MailsName</div>
                            }
                        </div>
                    </div>
                   

                    <button class="add-item">
                        <div class="button-text">Телефоны</div>
                    </button>
                </div>
            </div>
            @*Нижняя часть информационной области*@
            <div class="bottom-part">
            </div>
        </div>
    </div>
    <script src="~/js/account_data_lists.js"></script>
</body>
</html>