<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/setting.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/change_password.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="main-data">
            <h1>Настройки</h1>
            <hr />
            <div class="setting-button">
                @*Кнопка смены пароля*@
                <button class="setting-menu top-button" id="change_password"><p>Изменить пароль</p> <img src="~/content/images/account/password.png" alt="password" /></button>
                <hr />
                @*Кнопка смены стиля интерфейса*@
                <button class="setting-menu top-button" id="change_theme" onclick="toggleTheme()"><p>Сменить стиль</p> <img src="~/content/images/account/change-theme.png" alt="change_theme" /></button>
                <hr />
            </div>
        </div>
        @*Форма смены пароля*@
        <div id="modalForm" class="modal">
            <div class="modal-content">
                <span id="closeFormButton" class="close">&times;</span>
                <h2>Форма смены пароля</h2>
                <form method="post" asp-controller="Setting" asp-action="ChangePassword">
                    @*Поле для текущего пароля*@
                    <label for="oldPassword">Текущий пароль:</label>
                    <input type="password" id="oldPassword" name="oldPassword" placeholder="Введите текущий пароль" required
                           class="@(TempData["OldPasswordValid"] ?? "")">
                    @*Поле для нового пароля*@
                    <label for="newPassword">Новый пароль:</label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Введите новый пароль" required
                           class="@(TempData["NewPasswordValid"] ?? "")">
                    @*Поле для повтора нового пароля*@
                    <label for="repeatPassword">Повтор пароля:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Повторите новый пароль" required
                           class="@(TempData["ConfirmPasswordValid"] ?? "")">
                    <!-- Область для вывода сообщений -->
                    <div id="messageArea" class="alert @(ViewBag.MessageType ?? "")">
                        @TempData["Message"]
                    </div>

                    @*Кнопка отправки паролей*@
                    <button type="submit" class="btn btn-success">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    @if (TempData["OpenModal"] != null && (bool)TempData["OpenModal"])
    {
        <script src="~/js/open_change_password_form.js"></script>
    }
    <script src="~/js/change_password.js"></script>
</body>
</html>
